<h2>{{ phoneDetails.productName }}</h2>
<!--<p>Front Camera: {{phoneDetails.frontCamera }}</p>-->
<!--<p>Back Camera: {{ phoneDetails.backCamera }}</p>-->
<!--<p>Product CPU: {{ phoneDetails.productCpu }}</p>-->
<!--<p>Description: {{ phoneDetails.description }}</p>-->

<div class="container-fluid">
<!--  <div class="row">-->
<!--&lt;!&ndash;    <div class="col-md-4">.col-md-4</div>&ndash;&gt;-->
<!--    <div class="col-md-4 ml-auto">{{phoneDetails.productName}}</div>-->
<!--  </div>-->
  <div class="row">
    <div class="col-md-3 ml-auto" ><img [src]="phoneDetails.imageUrl" alt="Phone Image"></div>
        <div class="col-md-2 ml-auto"></div>
  </div>
  <div class="row" style="font-size: large ;margin-top: 1cm">
    <div class="col-md-6 ml-auto">{{phoneDetails.description}}</div>
  </div>
  <div class="row">
    <div class="col-sm-9" style="font-size: larger">
      Thông Tin Sản Phẩm
      <div class="row">
        <div class="col-8 col-sm-6">
          {{phoneDetails.screenSize}}
        </div>
        <div class="col-4 col-sm-6">
          {{phoneDetails.productCpu}}
        </div>
      </div>
    </div>
  </div>
</div>
