<div class="container-fluid manh-nav" style="background-color: #ffd400">
  <div class="row">
    <div class="col-12">
      <div class="row mt-3 mb-2">
        <div class="col-2 text-end">
          <img style="width: 240px" src="/assets/images/logo1.png" alt="" [hidden]="isLoggedIn">
          <a [routerLink]="['/home']">
            <img style="width: 240px"
                 *ngIf="userRole=='ADMIN'||userRole=='SALE'||userRole=='BUSINESS'||userRole=='STORAGE'"
                 src="/assets/images/logo1.png">
          </a>
        </div>
        <div class="col text-center mt-2">
          <input style=" margin: auto" *ngIf="showSearchInput" class="form-control " type="search"
                 placeholder="bạn tìm gì..."
                 aria-label="Search" [(ngModel)]="searchQuery" (keydown.enter)="onSearch()">
        </div>
        <div class="col-2 text-end">
          <div [hidden]="!isLoggedIn" class="dropdown mt-2">
            <span class="greeting-text">Xin chào: <span
              class="highlight-text">{{employeeInfo.nameEmployee}}</span></span>
            <button style="background-color: #ffd400;border:none" class="btn btn-secondary dropdown-toggle"
                    type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" routerLink="profile">Thông tin tài khoản</a></li>
              <li>
                <button class="dropdown-item" (click)="logOut()">Đăng xuất</button>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="row  func-tab" [ngClass]="{'func-tab': !showSearchInput}">
        <div class="col">

          <!--          các nút chức năng-->
          <nav class="navbar navbar-expand-xl navbar-light navbar-expand-xl py-0 text-end-lg">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                      aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav flex-fill">
                  <li *ngIf="userRole=='ADMIN'||userRole=='SALE'||userRole=='BUSINESS'" class="nav-item"
                      [routerLink]="['product']" routerLinkActive="active-link">
                    <a class="nav-link" routerLink='product'><i class="fa fa-tablet"></i> Quản lý sản phẩm
                    </a>
                  </li>
                  <li *ngIf="userRole=='ADMIN'||userRole=='SALE'||userRole=='BUSINESS'" class="nav-item"
                      [routerLink]="['payment']" routerLinkActive="active-link">
                    <a class="nav-link" routerLink="payment"><i class="fa fa-calculator" aria-hidden="true"></i>
                      Bán hàng</a>
                  </li>
                  <li *ngIf="userRole=='ADMIN'||userRole=='SALE'||userRole=='BUSINESS'" class="nav-item"
                      [routerLink]="['api/managerPurchaseHistory']" routerLinkActive="active-link">
                    <a class="nav-link" routerLink="managerPurchaseHistory"><i class="fa fa-history"
                                                                               aria-hidden="true"></i>
                      Lịch sử bán hàng</a>
                  </li>
                  <li *ngIf="userRole=='ADMIN'||userRole=='BUSINESS'" class="nav-item" [routerLink]="['report']"
                      routerLinkActive="active-link">
                    <a class="nav-link" routerLink='report'><i class="fa fa-area-chart" aria-hidden="true"></i> Báo cáo
                      doanh số</a>
                  </li>
                  <li *ngIf="userRole=='ADMIN'||userRole=='STORAGE'" class="nav-item active"
                      [routerLink]="['input-invoice']"
                      routerLinkActive="active-link">
                    <a class="nav-link" routerLink='input-invoice'><i class="fa fa-archive" aria-hidden="true"></i> Nhập
                      kho</a>
                  </li>
                  <li *ngIf="userRole=='ADMIN'||userRole=='STORAGE'||userRole=='BUSINESS'" class="nav-item"
                      [routerLink]="['supplier']" routerLinkActive="active-link">
                    <a class="nav-link" routerLink='supplier'> <i class="fa fa-building" aria-hidden="true"></i> Nhà
                      cung
                      cấp</a>
                  </li>
                  <li *ngIf="userRole=='ADMIN'" class="nav-item" [routerLink]="['signUp']"
                      routerLinkActive="active-link">
                    <a class="nav-link" routerLink='signUp'><i class="fa fa-user-plus" aria-hidden="true"></i> Tạo tài
                      khoản</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>
</div>
