<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2023/10/banner/PK-iPhone-15-1200-44-1200x44.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2023/09/banner/IP15-1200-44-1200x44.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2023/10/banner/DH-Ty-Ty-1200-44-1200x44.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<nav class="navbar navbar-light">
  <div class="searchbar">
    <a class="navbar-brand" href="#"><img src="/assets/images/logo1.png"></a>
    <input class="form-control mr-sm-2" type="search" placeholder="bạn tìm gì..." aria-label="Search" [(ngModel)]="searchQuery" (keyup.enter)="onSearch()">
  </div>
  <button type="button" routerLink="/login" class="btn btn-dark" style="margin-right: 3cm">Login</button>
</nav>

<!--<nav class="navbar navbar-light bg-light">-->
<!--  <a class="navbar-brand"></a>-->
<!--  <form class="form-inline">-->
<!--    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--  </form>-->
<!--</nav>-->

<div class="navbar">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-light navbar-expand-xl py-0">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav flex-fill">
          <li class="nav-item active">
            <a class="nav-link" href="#"><img src="/assets/images/dienthoai.png"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="/assets/images/laptop.png"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="/assets/images/tablet.png"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown1" role="button" data-bs-toggle="dropdown">
              <img src="/assets/images/phukien.png">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a class="dropdown-item" href="#">Phụ Kiện Di Động</a>
              <a class="dropdown-item" href="#">Phụ Kiện Laptop</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Thiết Bị Âm Thanh</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Thiết Bị Lưu Trữ</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="/assets/images/smartwatch.png"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="/assets/images/maycu.png"></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-bs-toggle="dropdown">
              <img src="/assets/images/pc.png">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a class="dropdown-item" href="#">Máy In</a>
              <a class="dropdown-item" href="#">Mực In</a>
              <a class="dropdown-item" href="#">Màn Hình Máy Tính</a>
              <a class="dropdown-item" href="#">Máy Tính Để Bàn</a>
              <!--              <div class="dropdown-divider"></div>-->
              <!--              <a class="dropdown-item" href="#">Something else here</a>-->
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
