<div class="container">
  <div class="border custom1"><h2>Quản lý nhà cung cấp</h2></div>
  <div class="border custom2">
    <div class="mb-3">
      <div class="container">
        <div class="row">
          <form
            class="col-xl-10"
            (ngSubmit)="search()"
          >
            <div
              class="col-xl-12 col-lg-12 col-md-12 col-12 d-flex flex-wrap"
            >
              <div
                class="col-xl-2 col-lg-2 col-md-12 d-flex align-items-center mb-md-2"
              >
                <label class="me-2"><b>Tìm kiếm theo:</b></label>
                <!-- end -->
              </div>
              <div class="col-xl-5 col-lg-6 col-md-6">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-11 mb-md-2">
                    <input
                      type="text"
                      class="form-control me-2 custom99"
                      placeholder="Tên nhà cung cấp"
                      [(ngModel)]="searchName"
                      name="searchName"
                    />
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-11">
                    <input
                      type="text"
                      class="form-control me-2 custom99"
                      placeholder="Địa chỉ nhà cung cấp"
                      [(ngModel)]="searchAddress"
                      name="searchAddress"
                    />
                  </div>
                </div>
              </div>
              <div class="col-xl-5 col-lg-4 col-md-6">
                <div class="row">
                  <div class="col-xl-1 col-lg-1"></div>
                  <div class="d-xl-none d-lg-none col-md-1"></div>

                  <div class="col-xl-6 col-lg-9 col-md-11 mb-md-2">
                    <input
                      type="text"
                      class="form-control me-2"
                      placeholder="SĐT nhà cung cấp"
                      [(ngModel)]="searchPhone"
                      name="searchPhone"
                    />
                  </div>
                  <div class="d-xl-none d-lg-none col-md-1"></div>

                  <div class="col-xl-5 col-lg-2 col-md-5 col-md-11">
                    <button class="ms-2 search-icon">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="25"
                        height="25"
                        fill="currentColor"
                        class="bi bi-search"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="col-xl-2 col-lg-12 col-md-12 col-12">
            <button
              type="button"
              class="btn btn-outline-warning add-supplier"
              routerLink="/supplier/create"
            >
              Thêm nhà cung cấp
            </button>
          </div>
          <!-- <div class="col-1"></div> -->
        </div>
      </div>
    </div>


    <!--  danh sách nhà cung cấp -->
    <div class="container">
      <table class="table table-bordered table-hover" *ngIf="page">
        <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">
            Mã nhà cung cấp
            <button class="sort-icon" (click)="sortById()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-filter"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                />
              </svg>
            </button>
          </th>
          <th scope="col">
            Tên nhà cung cấp
            <button class="sort-icon" (click)="sortByName()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                fill="currentColor"
                class="bi bi-filter"
                viewBox="0 0 16 16"
              >
                <path
                  d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
                />
              </svg>
            </button>
          </th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Email</th>
          <th scope="col">Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let supplier of page.content; index as i">
          <th scope="row">{{i + 1}}</th>
          <td>NCC{{supplier.supplierId}}</td>
          <td>{{supplier.supplierName}}</td>
          <td>{{supplier.supplierAddress}}</td>
          <td>{{supplier.supplierPhone}}</td>
          <td>{{supplier.supplierEmail}}</td>
          <td>
            <a class="btn btn-outline-danger me-2 default-icon"
               (click)="showDeleteConfirmModal(supplier)">
              Xóa
            </a>

            <a
              [routerLink]="['/supplier/edit', supplier.supplierId]" class="btn btn-sm btn-danger"
              class="btn btn-outline-secondary default-icon"
            >
              Chỉnh sửa
            </a>
            <button
              class="responsive-icon"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="red"
                class="bi bi-trash-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                />
              </svg>
            </button>
            <button class="responsive-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="rgb(108, 117, 125)"
                class="bi bi-pencil-square"
                viewBox="0 0 16 16"
              >
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                />
                <path
                  fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                />
              </svg>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-5"></div>
        <div class="col-6" *ngIf="page.totalPages > 1">
          <button class="btn btn-outline-primary" (click)="loadSuppliers(page.number, 8)" [disabled]="page.first">
            Trước
          </button>
          <a *ngIf="page">{{page.number+1}}/{{page.totalPages}}</a>
          <button class="btn btn-outline-primary" (click)="loadSuppliers(page.number + 2, 8)" [disabled]="page.last">Sau</button>
        </div>
        <div class="col-1">
          <button class="btn btn-outline-dark">Thoát</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal xác nhận xóa -->
<div class="modal" [class.show]="isConfirmModalVisible">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xác nhận xóa nhà cung cấp</h5>
        <button type="button" class="btn-close" (click)="hideDeleteConfirmModal()"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa nhà cung cấp <strong> {{ supplierToDelete?.supplierName }}</strong> không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="hideDeleteConfirmModal()">Hủy bỏ</button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmDeleteSupplier()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
