<p>input-invoice-add-new-form works!</p>
<div class="container">
  <div class="row border-bottom text-center header">
    <h1>Nhập kho</h1>
  </div>

  <div class="row">
    <div class="col offset-sm-1 offset-lg-0">
      <div class="row">
        <div class="col ms-2">
          <div class="row">
            <div class="main-content col">
              <div class="row">
                <button [disabled]="chooseProductInPastDisable" class="col-sm-10 col-md-auto select-option btn btn-outline-secondary">Chọn hàng đã từng nhập kho
                </button>
                <button [disabled]="chooseProductInPastDisable"  class="col-sm-10 col-md-auto select-option btn btn-outline-secondary">Quét mã QR</button>
              </div>
              <div class="row">
                <div class="col">
                  <label for="add-new-confirm"><span class="error">Lưu ý(*)</span> Chọn vào đây nếu là sản phẩm mới</label>
                  <input id="add-new-confirm" [value]="isNewProduct" [checked]="isNewProduct" (click)="toggleIsNewProduct()" type="radio">
                </div>
              </div>
              <table class="row table-form">
                <tr>
                  <td colspan="2">
                    <input name="productId" [(ngModel)]="productId" type="number" >
                  </td>
                </tr>
                <tr>
                  <th>Tên hàng <span class="must-have">(*)</span></th>
                  <td class="input" colspan="2"><input type="text" class="form-control" [(ngModel)]="productName"
                                                       [disabled]="productNameIsDisable"></td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2" class="error">Tên hàng không được để trống</td>
                </tr>
                <tr>
                  <th>Giá <span class="must-have">(*)</span></th>
                  <td class="input" colspan="2">
                    <div class="input-group">
                      <input type="number" class="form-control" [(ngModel)]="costPrice"><span class="ms-2">VND</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="error" colspan="2">Giá không được để trống</td>
                </tr>
                <tr>
                  <th>Hình ảnh hàng hóa</th>
                  <td colspan="2"><img class="product-image" src="sample.png" alt=""></td>

                </tr>
                <tr>
                  <th>Số lượng nhập <span class="must-have">(*)</span></th>
                  <td class="input" colspan="2"><input type="number" [(ngModel)]="quantity" class="form-control"></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="error" colspan="2">Số lượng không được để trống</td>
                </tr>
              </table>
              <div class="action row">
                <div class="col text-center">
                  <button class="btn btn-outline-warning" (click)="addToList()">Thêm vào phiếu nhập
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-7">
      <app-input-invoice-preview-list [item]="productToList"></app-input-invoice-preview-list>
    </div>
  </div>
</div>
