<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-isLoggedIncenter"> Đăng Nhập</h5>
          <form class="form-signin" [formGroup]="formLogin">
            <!-- Các trường nhập tài khoản và mật khẩu -->
            <div class="form-label-group">
              <input formControlName="username" type="text" id="inputEmail" class="form-control"
                     placeholder="Tên tài khoản" autocomplete="current-username">
            </div>
            <div class="form-label-group">
              <input formControlName="password" type="password" id="inputPassword" class="form-control"
                     placeholder="Mật khẩu" autocomplete="current-password">
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="remember_me">
              <label class="custom-control-label" for="customCheck1">Ghi nhớ đăng nhập lần sau</label>
            </div>
            <!-- Nút đăng nhập thông thường -->
            <button class="btn btn-lg btn-primary text-uppercase" type="button" (click)="onLogin()">Đăng nhập</button>
            <!-- Nút đăng nhập bằng Google -->
            <button class="btn" #loginRef>Đăng nhập bằng Google</button>
            <button class="btn btn-lg btn-secondary text-uppercase" routerLink="" data-dismiss="modal" type="button">
              Huỷ
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
