/*body{*/
/*  border: black 2px;*/
/*}*/
border{
  margin: 30px;
}
button{
  margin: 15px 30px 15px 15px;
}
.table-cutomers{
  margin: 50px 200px 0px 200px;
}
.table table-striped{
  margin: 30px;
}

h2{
  color: black;
  size: 35px;
  font-family: Arial;
  font-weight: bold;
}
.header{
  text-align: center;
  margin-top: 20px;
  margin-left: 20px ;
  margin-right: 20px;
  padding: 10px;
  background-color: #ffd400;
}
.modal-dialog{
  max-width: 1000px;
}
.modal-footer{
  width: max-content;
  text-align: center;
}
.modal-button{
  text-align: center;
}

.custom-button{
  margin-left: -355px;
  width: 140px;
  height: 40px;
  font-size: 0.9em;
  padding: 0 0;
  background: #007bff;
  margin-bottom: -5px;
  margin-top: -5px;
}
